---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
	<article>
        <header class="mb-10 text-center">
            <h1 class="text-4xl md:text-6xl font-extrabold tracking-tight mb-4">{post.data.title}</h1>
            <p class="text-gray-500">
                <time datetime={post.data.pubDate.toISOString()}>
                    {post.data.pubDate.toLocaleDateString('en-us', {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                    })}
                </time>
            </p>
            {post.data.heroImage && (
                <img width={1020} height={510} src={post.data.heroImage} alt="" class="mt-8 rounded-xl shadow-lg mx-auto" />
            )}
        </header>
		<div class="prose prose-xl prose-gray mx-auto">
			<Content />
		</div>
	</article>
</Layout>
