---
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
    image?: string;
}

const { title, description = "A simple, fast, and modern website.", image = "/blog-placeholder-1.jpg" } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

        <!-- Canonical URL -->
        <link rel="canonical" href={canonicalURL} />

        <!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, Astro.url)} />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={new URL(image, Astro.url)} />
	</head>
	<body class="bg-white text-gray-900 font-sans antialiased flex flex-col min-h-screen px-4">
		<header class="container mx-auto py-8 px-6 border-b-4 border-black flex flex-col md:flex-row justify-between items-center gap-6">
			<a href="/" class="text-4xl font-black tracking-tighter hover:bg-black hover:text-white px-2 transition-all">
				costular
			</a>
			<nav class="flex gap-8 text-xl font-bold">
				<a href="/" class="hover:underline decoration-4 underline-offset-4 decoration-primary">Home</a>
				<a href="/blog" class="hover:underline decoration-4 underline-offset-4 decoration-primary">Blog</a>
			</nav>
		</header>

		<main class="flex-grow container mx-auto px-6 py-16">
			<slot />
		</main>

		<footer class="container mx-auto px-6 py-12 text-center border-t-4 border-black bg-white">
			<p class="font-bold text-xl text-gray-600 tracking-widest">It's {new Date().getFullYear()}. No rights reserved.</p>
		</footer>
	</body>
</html>
